*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    /* outline: solid green;
    background-color: rgb(0 255 0/.1  ); */
}
html,body{
    width: 100%;
    height: 100%;
    line-height: 1.5;
}
.themeSelector__container{
position: absolute;
top:0;
left:0;
}
main{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    
}
main h1{
    display: flex;
    flex-direction: column;
    margin: 20px 0px;
    
}
.selection__container{
    display: flex;
    flex-direction: row;
    gap: 60px;
    justify-content: center;
    align-items: center;
  
}

.player__container, .computer__container{
    display: flex;
    gap: 20px;

}
.player__section,.computer__section{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
.img__container{
    margin: 20px 0px;
}
.playerChoice,.computerChoice{
    padding: 10px;
}
.playerChoice:hover{
    background-color: teal;    
    cursor: pointer;
}

i{
    font-size: 2em;
}
.winner__container{
    margin-top: 20px;
    padding: 20px;
}
.winner__text{
    display: none;
    font-size: 1.2em;
}
.winning__score p{
    margin: 0 auto;
}
.winning__screen  {
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -10000px;
    transition: linear left .2s;
    
}

.winning__screen--player{
    position: absolute;
    left:-1000px;
    font-size: 2em;
    transform: translate(-50%,-50%);
    top: 50%;
}
.winning__screen--computer{
    position: absolute;
    left: -1000px;
    font-size: 2em;
    transform: translate(-50%,-50%);
    top: 50%;

}
.winning__playAgain{
    position: relative;
    outline: none;
    border: solid black;
    top: 100px;
    padding: 20px;
    border-radius: 40px;
    cursor: pointer;
}
.player__score, .computer__score{
    margin-top: 20px;
    font-size: 2em;
}